@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root {
    --animation: 2s;
    --type: ease-in-out;
    --type2: infinite;
    --a: 2s;
    --b: 2.1s;
    --c: 2.2s;
    --d: 2.3s;
    --e: 2.4s;
    --f: 2.5s;
    --g: 2.6s;
    --h: 2.7s;
    --i: 2.8s;
    --j: 2.9s;

}

* {
    margin: 0;
    padding: 0;
}


#headerTitle>* {

    font-family: "Anta", sans-serif;
    font-size: 44px;
}


#A {
    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--a);
}

#C {
    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--b);


}

#E {
    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--c);

}

#N {
    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--d);


}

#T {

    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--e);


}

#U {
    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--f);


}

#AA {
    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--g);


}

#CC {
    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--h);


}

#AAA {
    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--i);

}

#O {
    animation: var(--type) var(--animation) title var(--type2);
    animation-delay: var(--j);


}

@keyframes title {

    0% {
        font-size: 44px;
        color: white;
    }

    50% {
        font-size: 55px;
        color: black;
    }

    100% {
        font-size: 44px;
        color: rgb(0, 0, 0);

    }


}

#diva {
    padding-top: 4rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

#divaa {
    padding-top: 4rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 100;
}



#sqr1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 25px 25px 0px ;
    border: 1px black;

}

#sqr2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 25px 25px 0px ;
    border: 1px black;

}

#sqr3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
    border: 2pxblack;

}

#sqr4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 0px 0px 25px ;
    border: 1px black;

}

#sqr5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 0px 0px 25px ;
    border: 1px black;

}

#sqr6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 0px 0px 25px ;
    border: 1px black;

}

#basica {
    font-size: 30px;

}

#basica1 {
    font-size: 30px;
}

#clinica1 {
    font-size: 30px;
}

#clinica {
    font-size: 25px;

}

#canada {
    font-size: 30px;
}

#candelaria {
    font-size: 25px;
}